# Core ML library
tensorflow==2.20.0

# Streamlit for web app
streamlit

# Common data science libraries
numpy
pandas
scikit-learn

# Optional but often useful for image ML projects
matplotlib
seaborn
Pillow
gdown
